@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply relative min-h-screen text-neutral-800 bg-gray-200 fill-neutral-900 duration-100;
    @apply dark:text-gray-50 dark:fill-gray-50 dark:bg-neutral-800;
    font-family: 'Manrope', 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply bg-gray-50;
    @apply dark:bg-neutral-700;
    z-index: 99999;
}

.loader {
    border: 16px solid #333333;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navigation {
    @apply bg-gray-100 fixed z-[100] w-full;
    @apply dark:bg-neutral-700;
    user-select: none;
}

.navigation__wrapper {
    @apply flex items-center justify-evenly z-50;
}

.navigation__logo {
    @apply hover:bg-neutral-200 rounded-md transition-all duration-100 px-3 py-1;
    @apply dark:hover:bg-neutral-800;
}

.navigation__menu {
    @apply flex;
}

.navigation__menu-button {
    @apply p-2 cursor-pointer transform rounded hover:bg-neutral-200;
    @apply transition-all duration-200 fill-gray-900;
    @apply dark:hover:bg-neutral-800 dark:fill-gray-50;
}

.navigation__menu-button.active {
    @apply rotate-180;
}

::-webkit-scrollbar {
    width: 6px;
    @apply dark:bg-neutral-700;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 48px;
}

.sidebar {
    @apply fixed min-h-screen opacity-0 left-0 top-[64px] w-[265px] px-6 py-1.5 border-t bg-gray-100 fill-gray-900;
    @apply transform translate-x-[-300px] transition-all duration-100 bottom-[120px] z-[60] overflow-scroll;
    @apply dark:bg-neutral-700 dark:border-neutral-800 dark:fill-gray-50;
    user-select: none;
}

.sidebar.active {
    @apply opacity-100 translate-x-0;
}

.menu__link {
    @apply w-full flex items-center px-6 py-1.5 space-x-2 hover:bg-gray-100;
    @apply dark:hover:bg-neutral-800 dark:bg-neutral-700;
}

.sidebar__link {
    @apply w-full flex items-center space-x-2 px-6 py-1.5 hover:bg-gray-200 hover:rounded-md;
    @apply dark:hover:bg-neutral-800;
}

.sidebar__link-down {
    @apply hover:text-gray-700 hover:bg-gray-200 px-2 py-1 rounded-md text-sm;
    @apply dark:hover:bg-neutral-800 dark:text-gray-50 dark:hover:text-gray-100;
}

.sidebar__link-list {
    @apply border-gray-500 flex items-center;
    @apply dark:fill-gray-50;
}

.sidebar__link-list.opened {
    @apply transform rotate-90;
}

.navigation__content {
    @apply container flex h-16 justify-center items-center;
}

.navigation__links-wrapper {
    @apply flex items-center justify-between w-96;
}

.navigation__link {
    @apply px-3 py-1 rounded hover:bg-neutral-200 transition-all duration-100;
    @apply dark:hover:bg-neutral-800 dark:text-gray-50;
}

.breadcrumbs {
    @apply container mx-auto transition-all duration-200;
}

.breadcrumbs.padded {
    @apply ps-[130px];
}

.button-back {
    @apply rounded pe-4 py-1.5 button-tertiary flex items-center space-x-0.5 fill-neutral-900;
    @apply dark:fill-gray-50;
    user-select: none;
}

.button__toggle-theme {
    @apply p-1.5 text-gray-500 hover:bg-neutral-200 rounded text-sm transition-all duration-200;
    @apply dark:hover:bg-neutral-800 dark:text-gray-400;
}

.button {
    @apply rounded transition-all duration-100 px-4 py-2 shadow-md text-sm fill-neutral-900;
    @apply dark:fill-gray-50;
    user-select: none;
}

.button-tertiary {
    @apply hover:bg-gray-100 shadow-none;
    @apply dark:hover:bg-neutral-800;
}

.button-dark {
    @apply bg-gray-600 text-white hover:bg-gray-700 shadow-gray-500/25;
}

.button-pink {
    @apply bg-pink-600 text-white hover:bg-pink-700 shadow-pink-500/25;
}

.button-purple {
    @apply bg-purple-600 text-white hover:bg-purple-700 shadow-purple-500/25;
}

.button-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700 shadow-blue-500/25;
}

.button-warning {
    @apply bg-yellow-500 hover:bg-yellow-600 shadow-yellow-500/25;
}

.button-danger {
    @apply bg-red-500 text-white hover:bg-red-800 shadow-red-500/25;
}

.button-secondary {
    @apply hover:bg-gray-200 shadow-gray-700/10;
}

.button-dark-secondary {
    @apply hover:bg-gray-600 hover:text-white shadow-gray-500/20;
}

.button-primary-secondary {
    @apply hover:bg-blue-600 hover:text-white shadow-blue-500/20;
}

.button-warning-secondary {
    @apply hover:bg-yellow-600 shadow-yellow-500/20;
}

.button-danger-secondary {
    @apply hover:bg-red-600 hover:text-white shadow-red-500/20;
}

.form-container {
    @apply bg-gray-100 rounded-xl p-6 shadow;
    @apply dark:bg-neutral-800;
}

.navigation__profile {
    @apply w-10 h-10 bg-cover;
}

.navigation__profile__avatar {
    @apply cursor-pointer hover:scale-105 rounded-[100%] bg-cover bg-no-repeat w-full h-full bg-center;
}

.navigation__profile_menu {
    @apply opacity-0 absolute right-0 top-16 w-40 rounded-md border bg-white shadow z-50 scale-50;
}

.navigation__profile_menu.active {
    @apply opacity-100 scale-100 duration-100;
}

.menu__wrapper {
    @apply bg-white absolute right-0 py-1 mt-1 me-4 border border-gray-200 shadow-2xl rounded-md font-medium;
    @apply dark:bg-neutral-700 dark:border-neutral-800;
}

.profile__header {
    @apply w-full rounded-md bg-cover bg-no-repeat bg-center h-[250px];
}

.profile__avatar {
    @apply flex justify-center items-center bg-cover bg-no-repeat bg-center w-[200px] h-[200px] bg-white rounded-[100%];
    @apply border-4 border-white;
    @apply dark:border-neutral-800 dark:bg-neutral-700
}

.profile__info {
    @apply flex;
    @apply dark:bg-neutral-700;
}

.container__profile {
    @apply container mx-auto my-[52px];
    @apply dark:bg-neutral-700 dark:text-gray-50;
}

.content__wrapper {
    @apply transition-all duration-100 mt-16 bg-gray-200;
    @apply dark:bg-neutral-800;
}

.content__wrapper.padded {
    @apply ps-[265px];
}

.content__wrapper.blurred {
    @apply mt-16;
}

.content {
    @apply container mx-auto mb-[52px] min-h-screen bg-white rounded-md p-6 shadow-md;
    @apply dark:bg-neutral-700 dark:text-gray-50;
}

.content.active {
    @apply me-12;
}

.table__row:nth-child(even) {
    @apply bg-neutral-200 dark:bg-neutral-600;
}

.table__head {
    @apply bg-neutral-700;
}

.table__head th {
    @apply px-6 py-3 text-xs font-bold text-neutral-100 uppercase;
}

.table__body-element {
    @apply px-6 py-2 whitespace-nowrap text-sm text-neutral-800;
    @apply dark:text-gray-50;
}

.form-group {
    @apply flex gap-2 mb-2;
    @apply dark:text-gray-50;
}

.form-input {
    @apply outline-0 p-1 rounded-md w-full;
    @apply dark:bg-neutral-800;
}

.form-input__label {
    @apply flex text-sm ms-1 mb-1.5;
}

.form-input__input {
    @apply outline-0 px-3 py-1.5 rounded-md shadow-sm w-full;
    @apply dark:bg-neutral-700 dark:placeholder-gray-200;
}

.form-input__error {
    @apply text-sm text-red-500 mt-1 ml-1;
}

.form__select {
    @apply w-full py-1.5 px-2 shadow-sm bg-white rounded-md outline-0;
    @apply dark:bg-neutral-700;
}

.form__blurred-file {
    @apply flex sticky top-[30%] justify-center bg-gray-200 mx-[600px] rounded-md p-5 py-14;
    @apply dark:bg-neutral-700;
}

.form__blurred-label {
    @apply block text-lg mb-3 ms-2;
    @apply dark:text-gray-50;
}

.form__blurred-input {
    @apply h-[36px] rounded-lg file:border-l-0 file:border-t-0 file:border-b-0 file:border-r text-gray-500;
    @apply file:text-base border-2 p-1.5 file:bg-gray-100 border-none bg-gray-100 focus:outline-none;
    @apply shadow-sm shadow-neutral-900 file:shadow-sm file:shadow-neutral-800 file:rounded-md;
    @apply dark:bg-neutral-800 dark:file:bg-neutral-700 dark:file:text-gray-50 dark:text-gray-50;
}

.choices__inner {
    @apply h-[36px] min-h-0 bg-gray-200 !important;
    @apply px-3 py-[3px] border-none rounded-md !important;
    @apply dark:bg-neutral-700 !important;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list .choices__item--selectable.is-highlighted {
    @apply dark:bg-neutral-800 !important;
}

.choices[data-type*=select-one]::after {
    @apply border-t-neutral-800 border-transparent !important;
    @apply dark:border-t-neutral-50 !important;
}

.choices[data-type*=select-one].is-open::after {
    @apply border-b-neutral-800 border-transparent !important;
    @apply dark:border-b-neutral-50 !important;
}

.choices[data-type*=select-one] .choices__input {
    @apply bg-gray-200 !important;
    @apply dark:bg-neutral-700 !important;
}

.choices {
    @apply h-[36px] rounded-md !important;
}

.choices.is-open {
    @apply h-[36px];
}

.choices__list--dropdown, .choices__list {
    @apply bg-gray-200 rounded-md !important;
    @apply dark:bg-neutral-700 dark:border-neutral-800 !important;
}

.choices[data-type*=select-one] .choices__input {
    @apply bg-gray-200 !important;
    @apply dark:bg-neutral-700 dark:border-neutral-800 !important;
}

.card-container {
    @apply bg-gray-100 rounded-xl p-6 shadow w-full;
}

.footer {
    @apply bg-gray-100 absolute top-full right-0 w-screen h-[100px] transition-all duration-100;
    @apply dark:bg-neutral-700 dark:text-gray-50;
}

.footer.padded {
    @apply ps-[300px];
}

.footer__wrapper {
    @apply container mx-auto flex h-full justify-between items-center;
}
